svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 2000px;
    height: 2000px;
}

line {
    z-index: 0;
    stroke: black;
}

.sideText {
	color:#f6931f; 
	font-weight:bold;
    width: 70px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 120px;
    z-index: 40;
}

.sideInput {
    height: 400px;
    z-index: 20;
    margin: 8px;
    float: left;
}

.slide_module_label {
    width: 120px;
    height: 24px;
    //background-color: paleturquoise;
    font-size: 20px;
    padding: 2px;
    float: left;
    color: darkcyan;
}

.slide_module {
    width: 500px;
}

#root_x_slider, #root_y_slider, #root_r_slider, #root_a_slider {
    width: 250px;
    margin: 15px;
    position: relative;
    top: 8px;
    left: 200px;
}

#rel1_s_slider, #rel1_a_slider, #rel1_tr_slider, #rel1_ta_slider {
    width: 250px;
    margin: 15px;
    position: relative;
    top: 8px;
    left: 200px;
}

#rel2_s_slider, #rel2_a_slider, #rel2_tr_slider, #rel2_ta_slider {
    width: 250px;
    margin: 15px;
    position: relative;
    top: 8px;
    left: 200px;
}

#depth_slider {
    width: 250px;
    margin: 15px;
    position: relative;
    top: 8px;
    left: 200px;
}

#sliderWrapper {
    height: 1200px;
    width: 1400px;
    //background-color: blue;
}

#inputWrapper {
    z-index: 15;
    position: absolute;
    top: 580px;
    left: 32px;
    width: 240px;
}

#chart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}